*, *:before, *:after {
  box-sizing: border-box;
  display:block;
}

body {
  background-color: white;
  font-family: sans-serif;
  font-size: 10px;
  }

body, h1, h3, .restaurant-list {
    font-family: 37471687, sans-serif;
    font-style:oblique;
    line-height: 20%;

}

.container {
  margin: 0 auto;
  width: 540px;
  background-color: #333;
  padding-left: 75px;
  padding-right:75px;
}

.location {
border-bottom: 1.5px solid gray;
width: 390px left;
}

nav {
  padding: 18px 12px 12px 18px;
  position:absolute;
  width: 390px;
  background-color: black;
}

.content {
  display: inline-block;
  width: 350px;
}

.arrow {
  text-align: right;
  line-height: 5px;
  display:inline-block;
  }

.restaurant-list {
background-color: lightgray;
  text-align: left;
  padding-top: 50px;
  margin: 10px center;
  line-height: 5px;
  width: 100%;
  }

  .restaurant-list :hover {
  background-color: gray;
  color: white;
}

h1 {
  font-style: normal;
  font-size: 18px;
  font-weight:790;
  text-indent: 20px;
  padding-top: 5px;
  font-stretch: ultra-expanded;
  }

h3 {
    font-size: 13px;
    font-weight:550;
    font-style: normal;
    line-height: normal;
    text-indent: 20px;
  }
